.input-group-text-right {
    width: 55px !important;
}

.input-group-text {
    width: 178px;
}

.form-control {
    text-align: right;
    letter-spacing: 1px;
}

h2 {
    background-color: rgba(75, 0, 0, 0.8);
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
    
    font-family: capture, Arial, sans-serif;
    letter-spacing: 2px;
    color: black;
}

.form-control:disabled, .form-control[readonly] {
    background-color: white;
}

.col-sm {
    min-width: 360px;
}

#toggleButtons {
    margin-bottom: 15px;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.50);
}

.btn-secondary {
    background-color: rgba(255, 255, 255, 0.20);
}

#helpText p, .headHelp{
    font-size:  1.25rem;
    color: black;
}

#helpText {
    margin-top: 20px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(75, 0, 0, 0.8);
}

.headHelp {
    font-weight: bold; 
}

.badInput {
    background-color: red !important;
}

.difStyling {
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;

    margin-bottom: 10px;
}

#mischOutput, #fertigOutput {
    width: 95px;
}
