<div class="container">

  <div class="alert alert-warning alert-dismissible fade {{showAlert.show}}" [hidden]="showAlert.hidden" role="alert">
    <strong>Da ist was schiefgelaufen</strong> Überprüf doch nochmal deine Eingaben {{liquidKomp}}!
    <button type="button" class="close" (click)="alerterDismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">

    <div class="col-sm">

      <div id="toggleButtons" class="btn-group btn-group-toggle">
        <label class="btn btn-secondary {{toggleOption.mischen}}">
          <input (click)="toggleOptions('mischen')"  type="checkbox" checked autocomplete="off"> Mischen
        </label>
        <label class="btn btn-secondary {{toggleOption.mischenPreis}}">
          <input (click)="toggleOptions('mischenPreis')" type="checkbox" autocomplete="off"> Mischen mit Preisen
        </label>
        <label class="btn btn-secondary {{toggleOption.fertigL}}">
          <input (click)="toggleOptions('fertigL')" type="checkbox" autocomplete="off"> Fertigliquid
        </label>
      </div>
     
      <div [hidden]="toggleOption.hiddenGes">
        <h2> gewünschte Gesamtmenge</h2> 
        <div class="input-group mb-3">
          <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.gewGesMenge">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">ml</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm" [hidden]="toggleOption.hiddenPreis && toggleOption.hiddenFertigL">
      <h2>Gesamtpreis</h2> 
      <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
        <div class="input-group-prepend">
          <span id="mischOutput" class="input-group-text">Mischen</span>
        </div>
        <input step="0.1"min="0" type="text" class="form-control {{styleString}}" [value]="values.gesPreisSelbst" readonly>
        <div class="input-group-append">
          <span class="input-group-text input-group-text-right">€</span>
        </div>
      </div>
      <div class="input-group mb-3" [hidden]="toggleOption.hiddenFertigL">
          <div class="input-group-prepend">
            <span id="fertigOutput" class="input-group-text">Fertigliquid</span>
          </div>
          <input step="0.1"min="0" type="text" class="form-control" [value]="values.fertigBenPreis" readonly>
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">€</span>
          </div>
        </div>
      <div [hidden]="toggleOption.hiddenPreis || toggleOption.hiddenFertigL" class="difStyling">
        {{difference.set}}
      </div>  
    </div>

    <div class="col-sm">
      <div [hidden]="toggleOption.hiddenFertigL">
        <h2> Fertigliquid</h2> 
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Preis</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.fertigPreis">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">€</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Inhalt</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.fertigInhalt">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">ml</span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div id="helpText" class="row" [hidden]="toggleOption.hiddenHelp">
    <div class="col-sm">
      <h3>Wähle bitte eine Option aus!</h3>
      <p> 
        <span class="headHelp">"Mischen"</span> 
        <br> Wenn Du die Menge an Aroma, Base und Nikotin zum Selbermischen berechnen willst, dann wähle diese Option. </p>
      <p>
        <span class="headHelp">"Mischen mit Preisen" </span> 
        <br> Hier kannst Du zusätzlich zum Mischen die Preise für die einzelnen Komponenten berechnen und was das selbstgemischte Liquid insgesamt kosten wird.</p>
      <p>
        <span class="headHelp">"Fertigliquid" </span> 
        <br> Hier wird der Preis des Fertigliquids entsprechend der eingegebenen Gesamtmenge berechnet. Wenn man zusätzlich die Daten beim "Mischen mit Preisen" eingibt, dann kann so der Preisunterschied zwischen Selbermischen und Fertigliquid berechnet werden.
      </p>
    </div>
  </div>

  <div class="row">
      
    <div class="col-sm" [hidden]="toggleOption.hiddenMischen">
      <h2>Aroma</h2>  
        <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
          <div class="input-group-prepend">
            <span class="input-group-text">Preis</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control"  (change)="calc()" (keyup)="calc()" [(ngModel)]="values.aromaPreis">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">€</span>
          </div>
        </div>

        <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
          <div class="input-group-prepend">
            <span class="input-group-text">Inhalt</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control"  (change)="calc()" (keyup)="calc()" [(ngModel)]="values.aromaInhalt">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">ml</span>
          </div>
        </div>
    
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Mischverhältnis</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control"  (change)="calc()" (keyup)="calc()" [(ngModel)]="values.aromaMisch">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">%</span>
          </div>
        </div>
     
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">benötigtes Aroma</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" [value]="values.aromaBen" readonly>
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">ml</span>
          </div>
        </div>

        <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
          <div class="input-group-prepend">
            <span class="input-group-text">entsprechender Preis</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" [value]="values.aromaBenPreis" readonly> 
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">€</span>
          </div>
        </div>
    </div>

    <div class="col-sm" [hidden]="toggleOption.hiddenMischen">
      <h2> Nikotin</h2> 
      <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
        <div class="input-group-prepend">
          <span class="input-group-text">Preis</span>
        </div>
        <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.nikotinPreis">
        <div class="input-group-append">
          <span class="input-group-text input-group-text-right">€</span>
        </div>
      </div>

      <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
        <div class="input-group-prepend">
          <span class="input-group-text">Inhalt</span>
        </div>
        <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.nikotinInhalt">
        <div class="input-group-append">
          <span class="input-group-text input-group-text-right">ml</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Nikotinstärke (Shot)</span>
        </div>
        <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.nikotinShot">
        <div class="input-group-append">
          <span class="input-group-text input-group-text-right"><sup>mg</sup>/<sub>ml</sub></span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">gewünschte Nikotinstärke</span>
        </div>
        <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.nikotinGew">
        <div class="input-group-append">
          <span class="input-group-text input-group-text-right"><sup>mg</sup>/<sub>ml</sub></span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">benötigtes Nikotin</span>
        </div>
        <input step="0.1"min="0" type="number" class="form-control" [value]="values.nikotinBen" readonly>
        <div class="input-group-append">
          <span class="input-group-text input-group-text-right">ml</span>
        </div>
      </div>

      <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
        <div class="input-group-prepend">
          <span class="input-group-text">entsprechender Preis</span>
        </div>
        <input step="0.1"min="0" type="number" class="form-control" [value]="values.nikotinBenPreis" readonly>
        <div class="input-group-append">
          <span class="input-group-text input-group-text-right">€</span>
        </div>
      </div>

    </div>

    <div class="col-sm" [hidden]="toggleOption.hiddenMischen">
      <h2> Base</h2> 
        <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
          <div class="input-group-prepend">
            <span class="input-group-text">Preis</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.basePreis">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">€</span>
          </div>
        </div>

        <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
          <div class="input-group-prepend">
            <span class="input-group-text">Inhalt</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" (change)="calc()" (keyup)="calc()" [(ngModel)]="values.baseInhalt">
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">ml</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">benötigte Base</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" [value]="values.baseBen" readonly>
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">ml</span>
          </div>
        </div>

        <div class="input-group mb-3" [hidden]="toggleOption.hiddenPreis">
          <div class="input-group-prepend">
            <span class="input-group-text">entsprechender Preis</span>
          </div>
          <input step="0.1"min="0" type="number" class="form-control" [value]="values.baseBenPreis" readonly>
          <div class="input-group-append">
            <span class="input-group-text input-group-text-right">€</span>
          </div>
        </div>

    </div>

  </div>

</div>

