<nav class="navbar navbar-expand-lg navbar-dark"> 
    <a class="navbar-brand" routerLink="">Liquidrechner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item" [routerLinkActiveOptions]="{exact: true}">
          <a  class="nav-link" routerLink="">Home</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a  class="nav-link" routerLink="rechner">zum Rechner</a>
        </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
