.box__wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.box__heading {
    margin-left: 10px;
    position: relative;
    background-color: rgba(75, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 5px;
    font-size: 250%;
    font-family: capture, Arial, sans-serif;
    letter-spacing: 2px;
    color: black;
}

.box__top {
    float: left;
}

.box__content {
    background-color: rgba(255, 255, 255, 0.20);
    padding: 20px;
    min-width: 315px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
}

.heading {
    background-color: rgba(75, 0, 0, 0.8);
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: black;
    padding: 2px;
}

.heading h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    color: black;
    font-family: kenyan, Arial, sans-serif;
    letter-spacing: 2px;
}

input {
    text-align: right;
}

.input-group-addon {
    min-width: 160px;
}

.input__addon {
    min-width: 60px;
}

.row {

}

.form-control {
    min-width: 50px;
}

.checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.checkbox:active, .checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
    background-color: #e9ecee;
    border: 1px solid black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: black;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: black;
}

.checkbox-tag {
    margin-bottom: 5px;
    font-size: 200%;
    color: black;
    margin-left: 10px;
    margin-right: 10px;;
}

.checkbox-heading {
    font-family: capture;
    font-weight: bold;
}

.checkbox-field {
    margin: 0 auto;
    width: 300px;
    height: 180px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.20);
}

#reset-button {
    margin: 0 auto;
    margin-top: 100px;
    width: 150px;

}

#reset-buttonJS {
    font-size: 150%;
    width: 150px;
}

#checkbox-preis:disabled {
    color: darkgrey;
}

#checkbox-preis-tag:disabled {
    color: darkgrey;
}

#span-preis-fertig {
    width: 640px;
    height: 30px;
}

.title-entsprechend {
    height: 24px;
}

#preisvergleich {
    font-size: 300%;
    text-align: center;
    color: white;
}

#gespreisselbstgemischtesliquid {
    font-size: 300%;
    text-align: center;
    color: white;
}
