@font-face {
    font-family: 'capture';
    src: url('font/captureit.ttf') format('truetype');
}

@font-face {
    font-family: 'kenyan';
    src: url('font/kenyancoffeerg.ttf') format('truetype');
}

body {
    background-image: url("img/vape.jpg");
    background-attachment: fixed;
    background-size: cover;

    margin-top: 50px;
    font-family: kenyan, Arial, sans-serif;
    letter-spacing: 1px;
}

h1 {
    color: black !important;
    font-family: capture, Arial, sans-serif;
    letter-spacing:   2px;
}
.start__greeting {
    margin-top: 100px;

    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, rgba(100, 100, 100, .5) 0, rgba(50, 50, 50, 0.5) 100%);
    background-color: rgba(10, 10, 10, 0.5);
    border: 0;
}

.container-fluid {
    background-color: transparent;
}

