@font-face {
    font-family: 'capture';
    src: url('font/captureit.ttf') format('truetype');
}

@font-face {
    font-family: 'kenyan';
    src: url('font/kenyancoffeerg.ttf') format('truetype');
}

* {
    font-family: kenyan, Arial, sans-serif;
    color: black;
}

body {
    background-image: url(img/vape.jpg);
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 1px;
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

.navbar, .navbar-expand-lg, .navbar-dark {
    background-color: rgba(10, 10, 10, 0.5);
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 65px;
        margin-top: 100px;
    }
}

h1 {
    font-family: 'capture', Arial, sans-serif;
}

